<% if @user == params[:user] %>
<ol class="breadcrumb">
  <li><a href="/user">Welcome <%= @user %>!</a></li>
  <li class="active">Job History</li>
</ol>
<% end %>
<header class="well">
  <h1><%= params[:user] %>'s Job History</h1>
</header>
<form action="/user/<%= params[:user] %>/jobs">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <label for="package">Package</label>
        <input class="form-control" id="package" name="package" value="<%= package_filter %>">
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <label for="trigger">Trigger</label>
        <input class="form-control" id="trigger" name="trigger" value="<%= trigger_filter %>">
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label for="suite">Suite</label>
        <% settings.suites.each do |suite| %>
        <label class="checkbox-inline">
          <input name="suite[]" type="checkbox" value="<%= suite %>" <%= suite_filter.is_a?(Array) && suite_filter.include?(suite) ? "checked" : nil %>><%= suite %>
        </label>
        <% end %>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label for="arch">Architecture</label>
        <% settings.archs.each do |arch| %>
        <label class="checkbox-inline">
          <input name="arch[]" type="checkbox" value="<%= arch %>"<%= arch_filter.is_a?(Array) && arch_filter.include?(arch) ? "checked" : nil %>><%= arch %>
        </label>
        <% end %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default" autocomplete="off">
      Apply Filters
    </button>
  </div>
</form>
<table class="table">
  <tr>
    <td>Date</td>
    <td>Package</td>
    <td>Suite</td>
    <td>Architecture</td>
    <td>Trigger</td>
    <td>Pin-Packages</td>
    <td>Actions</td>
  </tr>
  <% Array(@history).each do |test| %>
  <tr>
    <td><%= test[:date] %></td>
    <td><%= test[:package] %></td>
    <td><%= test[:suite] %></td>
    <td><%= test[:arch] %></td>
    <td><%= test[:trigger] %></td>
    <td><%= test[:pin_packages] %></td>
    <td><a
        href="/packages/<%= test[:package].match(/^((lib)?.)/) %>/<%= test[:package] %>/<%= test[:suite] %>/<%= test[:arch] %>">Details</a>
    </td>
  </tr>
  <% end %>
</table>
<nav class="text-center" aria-label="History pagination">
  <ul class="pagination">
    <% if @total_pages > 3 && @current_page.to_i != 1 %>
    <li>
      <a href="?<%= URI.encode_www_form(query_params.update(page: @current_page.to_i - 1)) %>" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <% end %>
    <% for n in 1..@total_pages %>
    <li class="<%= "active" if @current_page.to_i == n %>">
      <a href="?<%= URI.encode_www_form(query_params.update(page: n)) %>"><%= n %></a>
    </li>
    <% end %>
    <% if @total_pages > 3 && @current_page.to_i != @total_pages %>
    <li>
      <a href="?<%= URI.encode_www_form(query_params.update(page: @current_page.to_i + 1)) %>" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    <% end %>
  </ul>
</nav>
